/* =========================
   APP GLOBAL LAYOUT
========================= */


.app-content{

    width:100%;

    min-height:calc(100vh - 75px);

}



/* =========================
   REMOVE VITE DEFAULTS
========================= */


#root{

    width:100%;

    min-height:100vh;

}



/* =========================
   BUTTON RESET
========================= */


button{

    font-family:inherit;

}



/* =========================
   SMOOTH TRANSITIONS
========================= */


*{

    transition:

    background-color .2s ease,
    border-color .2s ease,
    transform .2s ease;

}