.market-layout{

display:flex;

gap:20px;

padding:20px;

background:#f5f9ff;

}



.market-main{

flex:1;

}



@media(max-width:900px){

.market-layout{

flex-direction:column;

}


.category-sidebar{

width:100%;

}

}