.category-sidebar{

width:260px;

background:white;

border-radius:10px;

box-shadow:
0 4px 15px rgba(0,0,0,.08);

position:relative;

}



.category-sidebar h3{

background:#0057b8;

color:white;

padding:15px;

margin:0;

font-size:16px;

}



.category-sidebar ul{

list-style:none;

padding:0;

margin:0;

}



.category-item{

position:relative;

border-bottom:1px solid #eee;

}



.category-title{

padding:14px;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

font-size:15px;

}



.arrow{

margin-left:auto;

}



.category-item:hover{

background:#f2f8ff;

}



.subcategory-menu{


display:none;

position:absolute;

left:260px;

top:0;

width:250px;

background:white;

padding:15px;

box-shadow:
0 5px 20px rgba(0,0,0,.15);

z-index:50;

}



.category-item:hover 
.subcategory-menu{

display:block;

}



.subcategory-menu p{

padding:8px;

margin:0;

cursor:pointer;

}



.subcategory-menu p:hover{

background:#eaf3ff;

color:#0057b8;

}



@media(max-width:900px){


.category-sidebar{

width:100%;

}


.subcategory-menu{

position:static;

width:auto;

}


.category-item:hover 
.subcategory-menu{

display:block;

}


}