.sponsored-banner{

height:280px;

background:

linear-gradient(
135deg,
#0057b8,
#008cff
);

border-radius:15px;

color:white;

display:flex;

align-items:center;

padding:40px;

position:relative;

overflow:hidden;

}



.banner-icon{

font-size:90px;

margin-right:40px;

}



.banner-content h2{

font-size:32px;

margin-bottom:15px;

}



.banner-content p{

font-size:18px;

margin-bottom:25px;

}



.banner-content button{

background:white;

color:#0057b8;

border:none;

padding:12px 25px;

border-radius:8px;

font-weight:bold;

cursor:pointer;

}



.dots{

position:absolute;

bottom:15px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:8px;

}



.dots span{

width:10px;

height:10px;

background:white;

opacity:.5;

border-radius:50%;

}



.dots .active-dot{

opacity:1;

width:25px;

border-radius:10px;

}



@media(max-width:700px){


.sponsored-banner{

height:auto;

padding:25px;

flex-direction:column;

text-align:center;

}



.banner-icon{

margin:0 0 15px;

}

}